$clr-home: #91a061;
$clr-dialogo: #d2aa43;
$clr-territorios: #5c987d;
$clr-resistencias: #e6661d;
$clr-fuerza: #063916;
$clr-naciones: #305bd1;
$clr-alt: #d1309c;
$clr-txt: #052b11;
$clr-txt-alt: #ffefd1;

$themes: (
  home: (
    base: $clr-home,
    base-alt: $clr-fuerza,
    text: $clr-txt-alt,
    text-alt: $clr-txt,
  ),
  dialogo: (
    base: $clr-dialogo,
    base-alt: $clr-fuerza,
    text: $clr-txt,
    text-alt: $clr-txt-alt,
  ),
  territorios: (
    base: $clr-territorios,
    base-alt: $clr-fuerza,
    text: $clr-txt-alt,
    text-alt: $clr-txt,
  ),
  resistencias: (
    base: $clr-resistencias,
    base-alt: $clr-fuerza,
    text: $clr-txt-alt,
    text-alt: $clr-txt,
  ),
  fuerza: (
    base: $clr-fuerza,
    base-alt: $clr-fuerza,
    text: $clr-txt-alt,
    text-alt: $clr-txt,
  ),
  naciones: (
    base: $clr-naciones,
    base-alt: $clr-fuerza,
    text: $clr-txt-alt,
    text-alt: $clr-txt,
  ),
);
