$clr-home: #91a061;
$clr-dialogo: #d2aa43;
$clr-territorios: #5c987d;
$clr-resistencias: #e6661d;
$clr-fuerza: #063916;
$clr-naciones: #305bd1;
$clr-alt: #d1309c;
$clr-Txt: #052b11;
$clr-Txt-alt: #052b11;

$themes: (
  home: (
    base: $clr-home,
  ),
  dialogo: (
    base: $clr-dialogo,
  ),
  territorios: (
    base: $clr-territorios,
  ),
  resistencias: (
    base: $clr-resistencias,
  ),
  fuerza: (
    base: $clr-fuerza,
  ),
  naciones: (
    base: $clr-naciones,
  ),
);
