@use 'colors' as c;

// display:flex mixin
@mixin flexible($direction, $corte: nowrap, $just: center, $align: center) {
  display: flex;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}

//-- curaduria Background
$paperWH: 25px;

@mixin paperGrid($axis, $color, $paperLine: 1px, $paperSize: $paperWH) {
  background: repeating-linear-gradient(
    $axis,
    $color,
    $color $paperLine,
    transparent $paperLine,
    transparent $paperSize
  );
}
