section {

  &#saludos {
    width: 100%;
    max-width: 1400px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    padding: 0;
    text-align: center;
    margin: 20vh auto;
    // border: 1px solid #7c7c7c;

    h2 {
      // opacity: 0;
    }

    #saludoControls {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row nowrap;
      z-index: 100;
      opacity: 0;
      pointer-events: none;

      .icon {
        width: 60px;
        height: auto;
      }

      &.active {
        div {
          cursor: pointer;
          pointer-events: auto;
        }
      }

    }

    blockquote {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column nowrap;
      position: absolute;
      z-index: 100;
      opacity: 0;
      pointer-events: none;
    }

    #saludoBox {
      position: absolute;
      z-index: 50;
      width: 5%;
      height: auto;
      pointer-events: none;
      opacity: 0;
    }

    #saludoBlob {
      position: relative;
      width: 100%;
      height: auto;
      // max-width: 120vw;
      // max-height: 120vh;
      fill: DarkOliveGreen;

      path {
        // transform-origin: 50% 50%;
        // transform-box: fill-box;
      }
    }

    .saludo {
      position: absolute;
      z-index: 10;
      width: 8vw;
      height: 8vw;
      cursor: pointer;
      pointer-events: none;

      .saludoSvg {
        width: 100%;
        height: auto;

        path {
          fill: DarkOliveGreen;
          opacity: 0;
        }
      }

      &.active {
        pointer-events: auto;
      }
    }
  }
}