@use 'sass:color';
@use 'colors' as c;
@use 'mixins' as m;

.saludos-box {
  // border: 1px solid white;
  height: 250vh;
  padding: 0;
  margin: 0;
}

.saludos,
.saludosAlt {
  width: 95vw;
  height: 80vh;
  max-width: 1400px;
  @include m.flexible(column);
  padding: 0;
}

.saludos {
  // border: 1px solid aqua;

  h2 {
    pointer-events: none;
    margin-bottom: 0;
  }

  #saludoControls {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    .icon {
      width: 60px;
      height: auto;
    }

    &.active {
      div {
        cursor: pointer;
        pointer-events: auto;
      }
    }
  }

  blockquote {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    position: absolute;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    max-width: 60%;

    p {
      color: #e1b924;
    }

    cite {
      color: #e0bf75;
      text-align: left;
    }
  }
}

.saludosAlt {
  position: absolute;
  top: 0;
  z-index: 100;
  pointer-events: none;
  // border: 1px solid magenta;
}

.saludo {
  position: absolute;
  z-index: 10;
  width: 8vw;
  height: 8vw;
  cursor: pointer;
  pointer-events: none;
  // border: 1px solid blue;

  svg {
    width: 100%;
    height: auto;
  }

  path {
    fill: color.adjust(
      map-get(map-get(c.$themes, dialogo), base),
      $lightness: 10%
    );
    fill-opacity: 0;
  }

  &.active {
    pointer-events: auto;
  }
}

.saludoGlow {
  filter: blur(30px);
  // border: 1px solid magenta;
}

#saludosDown {
  pointer-events: none;
  mix-blend-mode: color-dodge;

  #saludoBox {
    position: absolute;
    z-index: 50;
    width: 5%;
    height: auto;
    pointer-events: none;
    opacity: 0;
  }

  #saludoBlob {
    position: relative;
    width: 100%;
    height: auto;
    // max-width: 120vw;
    // max-height: 120vh;
    fill: DarkOliveGreen;

    path {
      // transform-origin: 50% 50%;
      // transform-box: fill-box;
    }
  }
}
