@use '_vars' as *;
@use '_typography';

body {
  background-color: white;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;

  &.homeBody {
    background-color: $gray0;
  }

  &.dialogoBody {
    background-color: $gray1;
  }

  &.territoriosBody {
    background-color: $gray2;
  }

  &.resistenciasBody {
    background-color: $gray3;
  }

  &.fuerzaBody {
    background-color: $gray4;
  }

  &.nacionesBody {
    background-color: $gray5;
  }

  &.programacion {
    background-color: $programacion;
  }

  &.off {
    background-color: transparent;
  }

  &.menuOpen {
    overflow-y: hidden;
  }
}

main {
  width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative;
  //clip-path: circle(0% at var(--x, 50vw) var(--y, 50vh));
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

article {
  margin: auto;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 0 20px;
}

#content {
  position: relative;
  width: fit-content;
  max-width: 800px;
  margin: 10% auto;
  display: flex;
  flex-flow: column nowrap;
  z-index: 100;
  opacity: 0;
}

.terrain {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: transparent;

  .home & {
    background-color: $gray0;
  }

  .dialogo & {
    background-color: $gray1;
  }

  .territorios & {
    background-color: $gray2;
  }

  .resistencias & {
    background-color: $gray3;
  }

  .fuerza & {
    background-color: $gray4;
  }

  .naciones & {
    background-color: $gray5;
  }

  .terrainIn {
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: overlay;
    mask-size: 99.9%;
    mask-repeat: no-repeat;
    mask-position: top center;
    -webkit-mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top center;

    .home & {
      mask-image: url("../images/terrain.svg");
      -webkit-mask-image: url("../images/terrain.svg");
    }

    .dialogo & {
      mask-image: url("../images/terrain-dialogo.svg");
      -webkit-mask-image: url("../images/terrain-dialogo.svg");
    }

    .fuerza & {
      mask-image: url("../images/terrain-fuerza.svg");
      -webkit-mask-image: url("../images/terrain-fuerza.svg");
    }

    .naciones & {
      mask-image: url("../images/terrain-naciones.svg");
      -webkit-mask-image: url("../images/terrain-naciones.svg");
    }

    .resistencias & {
      mask-image: url("../images/terrain-resistencias.svg");
      -webkit-mask-image: url("../images/terrain-resistencias.svg");
    }

    .territorios & {
      mask-image: url("../images/terrain-territorios.svg");
      -webkit-mask-image: url("../images/terrain-territorios.svg");
    }

  }
}


/* ::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

@media (prefers-contrast: high) {
  :root {}
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
} */