@use 'sass:color';
@use 'vars' as *;
@use 'colors' as c;
@use 'mixins' as m;

body {
  background-color: #c7c7c7;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;

  &.body--home {
    background-color: $gray0;
  }

  &.body--dialogo {
    background-color: $gray1;
  }

  &.body--territorios {
    background-color: $gray2;
  }

  &.body--resistencias {
    background-color: $gray3;
  }

  &.body--fuerza {
    background-color: $gray4;
  }

  &.body--naciones {
    background-color: $gray5;
  }

  &.programacion {
    background-color: $programacion;
  }

  &.off {
    background-color: transparent;
  }
}

.icon {
  stroke-width: 1px;
}

figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 10vh;

  img {
    width: 100%;
    height: auto;
    margin-bottom: $imgBottom;
    border-radius: 15px;
  }

  figcaption {
    position: relative;
    margin-right: 20px;
    max-width: min(800px, 42%);

    span {
      display: block;
    }
  }

  .icon {
    height: 100%;
    width: auto;
  }

  &.figure-mask {
    position: relative;
    width: 100%;

    svg {
      &.svgMask {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        overflow: hidden;
      }
    }

    figcaption {
      div {
        width: auto;
        position: absolute;
        left: 10px;
        height: $iconCaption;
        top: ($iconCaption + $imgBottom) * -1;
      }
    }

    img {
      // clip-path: url(#shape);
      // -webkit-clip-path: url(#shape);
      /* transform: translateZ(0);
      will-change: transform; */
    }
  }
}

[data-scroll-container] {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  // opacity: 1;
}

main {
  @include m.flexible(column, nowrap, null, center);
}

.intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  @include m.flexible(column, nowrap, center, center);
  transition: height 0.8s ease-out;
  margin-bottom: 50vh;
}

.terrainUp {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 180vh;
  left: 0;
  top: 0;
  z-index: 500;
  @include m.flexible(column, nowrap, null, center);
}

.terrain {
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: 180vh;
  left: 0;
  top: 0;
  z-index: 0;
  @include m.flexible(column, nowrap, null, center);
  opacity: 0;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
  // filter: blur(2px);

  .container--home & {
    background-color: $gray0;
    clip-path: url(#clipPath-home);
  }

  .container--dialogo & {
    background-color: $gray1;
    clip-path: url(#clipPath-dialogo);

    &.change {
      background-color: $color-green2;
    }
  }

  .container--territorios & {
    background-color: $gray2;
    clip-path: url(#clipPath-territorios);
  }

  .container--resistencias & {
    background-color: $gray3;
    clip-path: url(#clipPath-resistencias);
  }

  .container--fuerza & {
    background-color: $gray4;
    clip-path: url(#clipPath-fuerza);
  }

  .container--naciones & {
    background-color: $gray5;
    clip-path: url(#clipPath-naciones);
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .terrainIn {
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
    mix-blend-mode: overlay;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top center;

    .container--home & {
      mask-image: url('../images/terrain.svg');
      -webkit-mask-image: url('../images/terrain.svg');
    }

    .container--dialogo & {
      mask-image: url('../images/terrain-dialogo.svg');
      -webkit-mask-image: url('../images/terrain-dialogo.svg');
    }

    .container--fuerza & {
      mask-image: url('../images/terrain-fuerza.svg');
      -webkit-mask-image: url('../images/terrain-fuerza.svg');
    }

    .container--naciones & {
      mask-image: url('../images/terrain-naciones.svg');
      -webkit-mask-image: url('../images/terrain-naciones.svg');
    }

    .container--resistencias & {
      mask-image: url('../images/terrain-resistencias.svg');
      -webkit-mask-image: url('../images/terrain-resistencias.svg');
    }

    .container-territorios & {
      mask-image: url('../images/terrain-territorios.svg');
      -webkit-mask-image: url('../images/terrain-territorios.svg');
    }
  }

  .terrainIn {
    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top center;
  }
}

footer {
  width: 100%;
  height: 300px;
  background: #374b57;
  margin-top: 20vh;
  @include m.flexible(column, nowrap, center, center);

  p {
    font-size: 1.5rem;
    letter-spacing: 50px;
    font-weight: 100;
  }
}

/* ::selection {
  background-color: var(--negro);
  color: var(--blanco);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}

@media (prefers-contrast: high) {
  :root {}
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
} */

section {
  width: 100%;
  max-width: 1140px;
  @include m.flexible(column, nowrap, center, center);
  padding: 0 20px;
  text-align: left;
  position: relative;
}

// $paperGrid-color: color.adjust(c.$color2, $alpha: -0.3);
$paperGrid-color: #ffefd1;
$paperSize: 80px;

$paperGrid1: transparent 18.5%, $paperGrid-color 19%, $paperGrid-color 19.5%,
  transparent 20%, transparent;

$paperGrid2: transparent 17.5%, $paperGrid-color 18%, $paperGrid-color 18.5%,
  transparent 19%, transparent 37.5%, $paperGrid-color 38%,
  $paperGrid-color 38.5%, transparent 39%, transparent 57.5%,
  $paperGrid-color 58%, $paperGrid-color 58.5%, transparent 59%,
  transparent 77.5%, $paperGrid-color 78%, $paperGrid-color 78.5%,
  transparent 79%, transparent;

.curaduria {
  // border: 1px solid red;
  width: 90%;
  max-width: 550px;
  position: relative;
  padding: 50px 80px 50px 50px;
  z-index: 100;
  margin-bottom: 10vh;
}

.paper {
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  background-color: rgba(#ffefd1, 0.2);

  &:after {
    opacity: 0.7;
    content: '';
    position: absolute;
    width: calc(100% + 47px);
    height: calc(100% + 47px);
    top: -16px;
    left: -16px;
    background-color: transparent;
    background-image: linear-gradient(180deg, $paperGrid1),
      linear-gradient(90deg, $paperGrid1);
    background-size: 80px 80px;
  }

  &:before {
    opacity: 0.4;
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: 0;
    left: 0;
    background-image: linear-gradient(180deg, $paperGrid2),
      linear-gradient(90deg, $paperGrid2);
    background-size: $paperSize $paperSize;
  }
}
