// voz curatorial 
// https: //fonts.google.com/specimen/Fira+Sans
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

//https: //fonts.google.com/noto/specimen/Noto+Sans+Display
@font-face {
  font-family: 'Noto Serif Display';
  src: url('../fonts/NotoSerifDisplay-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

//
// voz curatorial
// https: //fonts.google.com/specimen/Bitter
@font-face {
  font-family: 'Bitter';
  src: url('../fonts/Bitter-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

h2,
p {
  -webkit-marquee-increment: 0vw;
  // Font minimum, preferred and maximum value
  font-size: clamp(var(--min), var(--val), var(--max));
}

/* h1 {
  --min: 2rem; // minimum value
  --val: 5vw; // preferred value = 5% viewport width
  --max: 3rem; // maximum value
} */
h2 {
  --min: 1.5rem; // minimum value */
  --val: 4vw; // preferred value = 4% viewport width */
  --max: 2.25rem; // maximum value */
}

p {
  --min: 1.2rem;
  --val: calc(0.5vw + 1rem);
  --max: 2.2rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-style: italic;
  line-height: 1.5;
  display: inline-block;
  max-width: 54ch;
  //max-width: 65ch;
  //max-width: 33em;
  margin-bottom: 2.5rem;
  color: beige;
}