// Colors
$color-green1: #91a061;
$color-green2: #063916;
$color-text: #ffefd1;
$color-type0: #4eccc9;
$color-type1: #54b586;
$color-type2: #e0bf75;
$color-type3: #e1b924;
$color-type4: #a98451;
$color-type5: #e56725;
$color-type6: #4260ac;
$color-type7: #9053a1;
$color-type8: #cd3694;
$colors-caminos: #4eccc9 #54b586 #e1b924 #e56725 #4260ac #9053a1;

$programacion: $color-green2;

/* $gray0: #625b50;
$gray1: #374b57;
$gray2: #455e6c;
$gray3: #47626b;
$gray4: #4b5b66;
$gray5: #4e5863; */

$gray0: #625b50;
$gray1: #e1b924;
$gray2: #4260ac;
$gray3: #943b3b;
$gray4: #91a061;
$gray5: #374b57;

//-- images
$iconCaption: 30px;
$imgBottom: 5px;