<header class="menu-banner">
  <div id="headerBar">
    <a href="./index.html"
       aria-label="Ir al inicio"
       id="logo">
      <img aria-hidden="true"
           src="./images/sanaciones-logo.svg" />
    </a>
  </div>
  <button id="menu-toggle"
          aria-label="Show Navigation Menu"
          aria-expanded="false"
          aria-controls="menu"
          tabindex="0">
    <svg aria-hidden="true"
         class="icon"
         fill="none"
         stroke-linecap="round"
         stroke-linejoin="round"
         viewBox="0 0 24 24"
         xmlns="http://www.w3.org/2000/svg">
      <path d="M18 6 6 18"></path>
      <path d="m6 6 12 12"></path>
    </svg>
    <span aria-hidden="true"
          id="menuTrama"></span>
  </button>
</header>

<nav aria-hidden="true"
     id="menuBox"
     aria-labelledby="menu-toggle">
  <div aria-hidden="true"
       id="menu-change">
    <span class="eye">
      <svg class="icon"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round"
           viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <path d="M12 9a3 3 0 1 0 0 6 3 3 0 1 0 0-6z"></path>
      </svg>
    </span>
    <span class="eyeClose"></span>
  </div>

  <ul>
    <li>
      <a href="./dialogo.html"
         aria-label="Ir al camino disposición al diálogo"
         class="menu-transition">
        <div class="name">
          <div class="title">Disposición<br />al diálogo</div>
          <div class="lead">
            En todos los ámbitos de la vida y esencial en sus procesos de
            sanación
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="./territorios.html"
         aria-label="Ir al camino territorios"
         class="menu-transition">
        <div class="name">
          <div class="title">Territorios</div>
          <div class="lead">
            Conectan con lo sagrado y permiten ver las huellas que ha dejado el
            conflicto armado
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="./resistencias.html"
         aria-label="Ir al camino resistencias históricas de los pueblos indígenas"
         class="menu-transition">
        <div class="name">
          <div class="title">Resistencias<br />históricas</div>
          <div class="lead">
            Reinterpretan su memoria desde la palabra de vida y conocimiento
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="./fuerza.html"
         aria-label="Ir al camino la fuerza de lo colectivo"
         class="menu-transition">
        <div class="name">
          <div class="title">La fuerza de<br />lo colectivo</div>
          <div class="lead">
            Unidos son más fuertes para enfrentar la violencia de actores
            armados
          </div>
        </div>
      </a>
    </li>

    <li>
      <a href="./naciones.html"
         aria-label="Ir al camino Naciones"
         class="menu-transition">
        <div class="name">
          <div class="title">Naciones</div>
          <div class="lead">
            Involucra la cosmovisión, la autonomía y la autodeterminación
          </div>
        </div>
      </a>
    </li>
  </ul>

  <div aria-hidden="true"
       id="descripciones"></div>
  <div aria-hidden="true"
       id="backImg"></div>
</nav>
