<header class="menu-banner">
  <div id="headerBar">
    <a href="./index.html" aria-label="Ir al inicio" id="logo">
      <img src="./images/sanaciones-logo.svg" aria-hidden="true">
    </a>
  </div>
  <button id="menu-toggle" aria-label="Show Navigation Menu" aria-expanded="false" aria-controls="menu" tabindex="0">
    <i icon-name="x" aria-hidden="true"></i>
    <span id="menuTrama" aria-hidden="true"></span>
  </button>
</header>

<nav id="menuBox" aria-hidden="true" aria-labelledby="menu-toggle">
  <div id="menu-change" aria-hidden="true">
    <span class="eye">
      <i icon-name="eye"></i>
    </span>
    <span class="eyeClose"></span>
  </div>

  <ul>

    <li>
      <a href="./dialogo.html" aria-label="Ir al camino disposición al diálogo" class="menu-transition">
        <div class="name">
          <div class="title">Disposición<br>al diálogo</div>
          <div class="lead">En todos los ámbitos de la vida y esencial en sus procesos de sanación</div>
        </div>
      </a>
    </li>

    <li>
      <a href="./territorios.html" aria-label="Ir al camino territorios" class="menu-transition">
        <div class="name">
          <div class="title">Territorios</div>
          <div class="lead">Conectan con lo sagrado y permiten ver las huellas que ha dejado el conflicto armado</div>
        </div>
      </a>
    </li>

    <li>
      <a href="./resistencias.html" aria-label="Ir al camino resistencias históricas de los pueblos indígenas" class="menu-transition">
        <div class="name">
          <div class="title">Resistencias<br>históricas</div>
          <div class="lead">Reinterpretan su memoria desde la palabra de vida y conocimiento</div>
        </div>
      </a>
    </li>

    <li>
      <a href="./fuerza.html" aria-label="Ir al camino la fuerza de lo colectivo" class="menu-transition">
        <div class="name">
          <div class="title">La fuerza de<br>lo colectivo</div>
          <div class="lead">Unidos son más fuertes para enfrentar la violencia de actores armados</div>
        </div>
      </a>
    </li>

    <li>
      <a href="./naciones.html" aria-label="Ir al camino Naciones" class="menu-transition">
        <div class="name">
          <div class="title">Naciones</div>
          <div class="lead">Involucra la cosmovisión, la autonomía y la autodeterminación</div>
        </div>
      </a>
    </li>

  </ul>

  <div id="descripciones" aria-hidden="true"></div>
  <div id="backImg" aria-hidden="true"></div>

</nav>